@import '../../variables';

.skills_dark {
    background: linear-gradient(280deg, #000028 0%, #515182 100%);
    padding-top: 3%;
    p, span, h1, h2, h3, h4, h5 {
        font-family: "Poppins";
    }
    .h2-title {
        text-align: center;
        color: $education_h2_title_dark;
        letter-spacing: 8px;
        text-transform: uppercase;
    }
    h2 {
        text-transform: uppercase;
    }
    .div-skills {
        .div-text {
            p {
                font-family: 'Poppins';
                color: #d8d8fb;
                text-align: justify;
            }
        }
        .col-knobs {
            .col-row-knobs, .col-row-knobs-2 {
                .title-knobs {
                    h2 {
                        text-align: center;
                        color: #b3b3c9;
                        font-size: 1.5em;
                        font-family: 'Poppins';
                        font-weight: 300;
                        text-transform: uppercase;
                    }
                }
                .knobs {
                    p {
                        font-family: 'Poppins';
                        color: #c2c2ea;
                        // text-transform: uppercase;
                    }
                    .cols-knobs-label {

                    }
                    .cols-knobs-value {

                    }
                }
                .col-banco-dados {
                    h2 {
                        color: #b5b5e1;
                        font-size: 1em;
                        font-family: "Poppins";
                        font-weight: 300;
                        text-transform: uppercase;
                    }
                    .progress-bar-banco-de-dados {
                        height: .7em;
                    }
                }
            }
            .col-row-knobs-2 {
                // background: linear-gradient(280deg, #d4d4f5 0%, #ffffff 100%);
                .title-knobs-frameworks {
                    h2 {
                        color: #a7b3c9;
                        font-size: 1.8em;
                        font-family: "Poppins";
                        font-weight: 300;
                        padding: 1% 2%;
                        border-radius: 16%;
                        letter-spacing: 4px;
                        margin: 0;
                        text-align: center;
                    }
                }
                .row-frameworks-alinhamento {
                    cursor: pointer;
                    padding-bottom: 2%;
                    border-radius: 30px;
                    transition: background-color 0.2s ease; 
                    .col-frameworks {
                        .row-frameworks {
                            width: 24em;
                            .frameworks-knobs {
                                .div-knobs-frameworks {
                                    tbody, td, tfoot, th, thead, tr {
                                        width: 50%;
                                        background: transparent;
                                        border: 0;
                                        padding-bottom: 0px;
                                    }
                                    span {
                                        // margin-right: 20px;
                                        margin: 0;
                                        font-family: 'Poppins';
                                        color: #bebedd;
                                    }
                                    .icon-rating-frameworks {
                                        margin-right: 4px; 
                                        font-size: 12px;
                                        color: #fff;
                                        cursor: pointer;
                                        transition: color 0.2s ease; 
                                        &:hover {
                                            color: #eadced;
                                        }
                                    }
                                    .icon-rating-frameworks-score {
                                        margin-right: 4px; 
                                        font-size: 12px;
                                        color: #a166b2;
                                        cursor: pointer;
                                        transition: color 0.2s ease; 
                                        &:hover {
                                            color: #784786;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:hover {
                        background-color: #7272a9ab;
                        border-radius: 30px;
                        padding-bottom: 2%;
                    }
                }
            }
        }
    }
    ::-moz-selection {
        color: #6e6eaa !important;
        background: #ffffff78 !important;
    }
    
    ::selection {
        color: #6e6eaa !important;
        background: #ffffff78 !important;
    }
}
@media screen and (min-width: 992px) {
    .skills_dark {
        .div-skills {
            .col-knobs {
                .col-row-knobs {
                    display: flex;
                    justify-content: center!important;
                    align-items: center!important;
                    .knobs {
                        p {
                            font-family: 'Poppins';
                            color: #8787b9;
                        }
                        .cols-knobs-label {

                        }
                        .cols-knobs-value {
                            
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1200px) {
    .skills_dark {
        .div-skills {
            .col-knobs {
                .col-row-knobs-2 {
                    .row-frameworks-alinhamento-2 {
                        background-color: #7272a9ab;
                        border-radius: 30px;
                        padding-bottom: 2%;
                    }
                }
            }
        }
    }
}