@import '../../variables';

.topbar_dark {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    margin: auto;
    top: 0%;
    right: 0;
    left: 0;
    border-radius: 3px;
    padding: 0% 4%;
    z-index: 2;
    background: transparent;
    // height: 8.5% !important;
    padding-top: 1.5%;
    .menu-button-sidebar {
        display: block;
        .menu-icon-sidebar {
            cursor: pointer;
            color: #ffffff;
            font-size: 2em;
            position: fixed;
            right: 3%;
            top: 13px;
            mix-blend-mode: exclusion;
            &.colored-icon-sidebar {
                color: rgb(117 118 177);
                font-weight: bold;
            }
        }
    }

    .sidebar {
        text-align: center;
        font-size: 1.5em;
        font-family: "Poppins";
        text-transform: uppercase;
        font-weight: 300;
        padding: 36px;
        color: #acace4;
        background: #18161d;
        .itens-sidebar {
            // a {
            //     &.active {
            //         border: solid
            //     }
            // }
        }
    }

    .p-dropdown {
        // width: 14rem;
    }
    
    .country-item-value {
        img.flag {
            width: 17px;
        }
    }
    .button-display {
        display: block !important;
    }
    .buttons-menu {
        display: none;
        font-family: monospace;
        color: #FFF;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 100;
        letter-spacing: 5px;
        background: transparent;
        border: 0;
        &:hover {
            background-color: transparent;
            color: #918aec;
        }
        &.focus {
            border: 0
        }
        p-button:focus {
            box-shadow: none;
        }
    }

    // &.colored-topbar {
    //     height: 8.5%;
    //     display: block;
    // }

    &.colored-text {
        background: #7576b185;
    }
}

@media screen and (min-width: 992px) {
    .topbar_dark {
        padding-top: 1.5% !important;
        &.colored-text {
            background: #7576b185;
        }
    }
}
@media screen and (min-width: 1200px) {
    .topbar_dark {
        .menu-button-sidebar {
            .menu-icon-sidebar {
                top: 3%;
            }
        }
    }
}
@media screen and (min-width: 1410px) {
    .topbar_dark {
        .menu-button-sidebar {
            display: none;
        }
        .button-display {
            display: none !important;
        }
        .buttons-menu {
            display: block;
        }
    }
}
@media screen and (min-width: 1500px) {
    .topbar_dark {
        .buttons-menu {
            font-size: 1.15em;
            &:hover {
                background-color: transparent;
                color: #918aec;
            }
            &.focus {
                border: 0
            }
            p-button:focus {
                box-shadow: none;
            }
        }
    }
}
@media screen and (min-width: 1600px) {
    .topbar_dark {
        .buttons-menu {
            font-size: 1.3em;
        }
    }
}