.topbar {
    .navbar-toggler {
        z-index: 1;
    }
    .p-button{
        &:focus {
            outline: 0 none;
            outline-offset: 0;
            box-shadow: none;
            color: #a6d5fa !important;
        }
    }
}
.about {
    .pi {
        font-family: 'primeicons' !important;
    }
    .p-panel .p-panel-header {
        background: linear-gradient(88deg, #7576b1 0%, #babaee 100%);
        font-family: "Poppins";
        font-weight: 600;
        border-radius: 10px 10px 0px 0px;
        color: #FFF;
        .p-panel-header-icon {
            color: #FFF !important;
        }
    }
    .p-panel .p-panel-content {
        padding-top: 10px;
        padding-bottom: 10px;
        // border-radius: 10px;
    }
}

.hobbies {
    .p-tooltip-top {
        z-index: 10;
    }
    .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
        background: #7576b1;
    }
    .p-panel .p-panel-content {
        // padding-top: 10px;
        // padding-bottom: 10px;
        padding-top: 15%;
        padding-bottom: 10px;
        margin-top: -13%;
        border-top: solid 1px #dee2e6;
    }
    .mr-1 {
        margin-right: 10px;
    }
    .mr-2 {
        margin-right: 20px;
    }
    .mr-3 {
        margin-right: 30px;
    }
    .mr-4 {
        margin-right: 40px;
    }
    .mr-5 {
        margin-right: 50px;
    }
    
    .organiza-row-hobbies {
        .p-card-content {
            display: flex;
            justify-content: center;
        }
    }
    .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
        background-color: #8283c5;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
    }
    .p-carousel .p-carousel-indicators .p-carousel-indicator button {
        background-color: #e9ecef;
        transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
    }
}

.experience {
    .p-panel.p-panel-toggleable .p-panel-header {
        padding: 0.5rem 1rem;
        background: linear-gradient(280deg, rgb(117 117 188) 0%, rgb(221, 221, 255) 100%);
        color: #FFF;
        border: 0;
    }
    .p-panel .p-panel-content {
        border-top: 0 none;
        border: 0;
        border-bottom: 1px solid #dcdcff;
        padding: 0.5% 0% 1% 0%;
        // background: #dcdcfe26;
    }
    .p-panel .p-panel-header .p-panel-header-icon {
        color: #ffffff;
    }
    .p-panel .p-panel-header .p-panel-title {
        font-weight: 600;
        color: #55558d;
        font-size: 1.1em;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        font-family: 'Poppins';
    }
    .p-chip-icon.pi {
        font-size: 10px;
    }
    .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: none;
    }
    .p-progressbar .p-progressbar-value {
        background: linear-gradient(90deg, #2196F3 0%, #914fd0 100%);
    }
    .p-progressbar-determinate .p-progressbar-label {
        font-size: 9px;
        cursor: pointer;
        transition: font-size 0.5s ease;
        &:hover {
            font-size: 19px;
        }
    }
    .p-tabview .p-tabview-nav li {
        margin-right: 0;
        font-family: 'Poppins';
        font-size: .9em;
    }
}

.skills {
    .p-knob-text {
        font-size: 1.3rem;
        text-align: center;
        font-family: 'Poppins';
        background-image: url('assets/logos/ps.png');
    }
    .col-banco-dados {
        .p-progressbar .p-progressbar-value {
            background: linear-gradient(90deg, #2196F3 0%, #914fd0 100%);
        }
        .p-progressbar-determinate .p-progressbar-label {
            font-size: .7em;
        }
    }
}
@media screen and (max-width: 576px) {
    .hobbies .p-panel .p-panel-content {
        margin-top: -10%;
    }
}