.index {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .topo {
        text-align: center;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-image: url(https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        animation-fill-mode: forwards;
        filter: brightness(62%) saturate(0%) invert(28%) sepia(58%) saturate(370%) hue-rotate(198deg) brightness(130%) contrast(78%) opacity(80%) opacity(3.5);
        .dama-title {
            font-family: monospace;
            color: #000;
            font-size: 5em;
        }
    }    
}