.p-tooltip {
    .p-tooltip-text {
        box-shadow: none !important;
        background: linear-gradient(90deg, #8282b7 0%, #a683c6 100%) !important;
        color: #FFF !important;
        font-family: 'Poppins' !important;
    }
}