@import '../variables';

.index_dark {
    width: 101%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .topo {
        // position: relative;
        width: 100%;
        height: 100vh;
        overflow: auto;
        z-index: 1;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        .row-dama-title {
            margin-bottom: 10%;
            .col-dama-title {
                margin-bottom: 60px;
                .dama-title {
                    font-family: monospace;
                    color: rgb(124, 124, 191);
                    font-size: 3em;
                }
            }
            .typewriter-effect {
                font-family: monospace;
                color: #FFF;
                font-size: 2em;
                width: 100%;
            }
        }
        ::-moz-selection {
            color: white !important;
            background: #7676ab78 !important;
        }
        
        ::selection {
            color: white !important;
            background: #7676ab78 !important;
        }
    }
    
    .topo::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('assets/images/background-index.png');
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        mix-blend-mode: difference;
        filter: $filter_background_dark;
    }   
}
@media screen and (min-width: 1040px) {
    .index_dark {
        .topo {
            .row-dama-title {
                .col-dama-title {
                    .dama-title {
                        font-family: monospace;
                        color: rgb(124, 124, 191);
                        font-size: 5em;
                    }
                } 
                .typewriter-effect {
                    width: 70%;
                    font-size: 3em;
                }
            }
        }
    }
}