.about {
    padding-top: 4%;
    .h2-title {
        text-align: center;
        font-family: "Poppins";
        text-transform: uppercase;
    }
    .foto {
        width: 70%;
        -webkit-box-shadow: 30px 32px 0px 0px rgba(0,0,0,0.1), 23px 25px 0px -3px rgba(255 255 255), 47px 48px 0px -3px rgb(130 131 197);
    }
}