.hobbies {
    .organiza-row-hobbies {
        display: flex;
        justify-content: center;
        .align-switchs {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Poppins';
        }
        .show-color-images {
            position: absolute;
            right: calc(6% + 1em);
            margin-top: -20px;
        }
        .col-imagens-icons {
            text-align: center;
            span {
                font-family: 'Poppins';
                font-size: 0.98em;
            }
            .imagens-icons {
                width: 74%;
                // background: #b8b8e8;
                background: linear-gradient(90deg, #b8b8e8 0%, #cacaf0 100%);
                padding: 7px;
                /* border: solid 2px #000; */
                border-radius: 100%;
                cursor: pointer;
                transition: background-color 0.3s ease, width 0.3s ease;
                &:hover {
                    // background-color: #e2e2ff;
                    background: linear-gradient(90deg, #e2e2ff 0%, #cacaf0 100%);
                    width: 25%;
                }
            }
            .title-divider {
                background: #FFF;
                font-weight: 500;
                padding: 0 6px;
            }
            .imagens-icons-png {
                width: 74%;
                cursor: pointer;
                transition: width 0.3s ease;
                &:hover {
                    width: 25%;
                }
            }
        }
        .p-divider.p-divider-horizontal:before {
            border-top: 1px #ffffff;
        }
        .p-panel {
            .p-panel-header {
                background: #7576b1;
                color: #FFF;
                display: none;
            }
            .p-panel-icons {
                color: #FFF
            }
        }
        .button-back {
            background: #8283c5;
            border: solid 1px #7576b1;
        }
        .galerias {
            .grid {
                .image-gallery {
                    border-radius: 8%;
                    cursor: pointer;
                    width: calc(100% - 4px);
                    margin: 10px;
                    box-shadow: 9px 11px 18px 0px #0000001c;
                    transition: width 0.6s ease, width 0.3s ease;
                    &:hover {
                        width: calc(97% - 4px);
                    }
                }
            }
        }
        .animes, .games {
            .avatar-animes {
                cursor: pointer;
                transition: outline 0.1s ease;    
                z-index: 0;
                &:hover {
                    outline: solid 5px #8787b9;
                }
            }
            .chip-animes {
                cursor: pointer;
                padding: 0 41px;
                margin-left: calc(-4% - 4px);
                border-radius: 0px 16px 16px 0px;
                background: linear-gradient(88deg, rgb(223, 223, 223) 0%, rgb(219 219 247) 100%);
                transition: padding 0.2s ease; 
                font-family: 'Poppins';
                font-size: 13px;
                &:hover {
                    padding: 0 60px;
                }
            }
            .chip-animes-left {
                cursor: pointer;
                padding: 0 41px;
                margin-right: calc(5px - 4%);
                background: linear-gradient(88deg, rgb(223, 223, 223) 0%, rgb(219 219 247) 100%);
                border-radius: 16px 0 1px 16px;
                transition: padding 0.2s ease;  
                font-family: 'Poppins';
                font-size: 13px;
                &:hover {
                    padding: 0px 60px;
                }
            }
            .avatar-animes-mobile {
                cursor: pointer;
                transition: outline 0.1s ease;    
                z-index: 0;
                &:hover {
                    outline: solid 5px #8787b9;
                }
            }
            .chip-animes-mobile {
                cursor: pointer;
                padding: 0 41px;
                margin-left: calc(-4% - 4px);
                border-radius: 0px 16px 16px 0px;
                background: linear-gradient(88deg, rgb(223, 223, 223) 0%, rgb(219 219 247) 100%);
                transition: padding 0.2s ease;  
                font-family: 'Poppins';
                font-size: 14px;
                &:hover {
                    padding: 0 60px;
                }
            }
        }

        .artists {
            .avatar-artists {
                width: 120px;
                height: 109px;
                margin: -67px 0 0 0;
                box-shadow: 6px 5px 9px 0px #00000042;
                transition: width 0.2s ease, height 0.2s ease; 
                cursor: pointer;
                &:hover {
                    width: 20%;
                    height: 98%;
                }
            }
            .card-artists {
                height: auto;
                position: relative;
                width: 100%;
                z-index: -1;
                margin: 0px 0 0px -54px;
                transition: background-color 0.9s ease;
                h1 {
                    text-align: end;
                    text-transform: uppercase;
                    font-size: 1.5em;
                    font-family: 'Poppins';
                    font-weight: bold;
                    padding: 6px 9px 0 0;
                    padding: 6px 9px 0 0;
                    background-image: linear-gradient(88deg, rgb(223, 223, 223) 0%, rgb(33 33 77) 100%);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                }
                .chip-generos {
                    padding: 0px 15px;
                    height: 14px;
                    font-size: 10px;
                    margin: 0 9px 0px 0;
                    font-family: 'Poppins';
                    background: linear-gradient(270deg, rgb(216 200 239 / 40%) 0%, rgb(182 173 214 / 61%) 100%);
                }
                .best-album {
                    h2 {
                        text-align: end;
                        font-size: 1em;
                        font-family: 'Poppins';
                        margin-bottom: 0;
                    }
                    .chip-bests-album {
                        padding: 0 25px;
                        height: 22px;
                        font-size: 10px;
                        font-family: 'Poppins';
                        background: linear-gradient(90deg, rgb(190 179 216 / 40%) 0%, rgb(195 195 195 / 61%) 100%);
                        line-break: anywhere;
                    }
                }
                .best-music {
                    h2 {
                        text-align: start;
                        font-size: 1em;
                        font-family: 'Poppins';
                        margin-bottom: 0;
                    }
                    .chip-bests-music {
                        text-align: start;
                        padding: 0 25px;
                        height: 22px;
                        font-size: 10px;
                        font-family: 'Poppins';
                        background: linear-gradient(270deg, rgb(190 179 216 / 40%) 0%, rgb(195 195 195 / 61%) 100%);
                        line-break: anywhere;
                    }
                }

                &:hover {
                    background: linear-gradient(182deg, rgb(255 255 255 / 58%) 0%, rgb(28 28 119 / 3%) 100%);
                }
            }
        }
    }
}
@media screen and (min-width: 368px) {
    .hobbies {
        .organiza-row-hobbies {
            .p-divider .p-divider-content {
                background-color: transparent;
                text-align: initial;
            }
            .show-color-images {
            }
            .col-imagens-icons {
                .imagens-icons {
                    width: 41%;
                    // width: 42%;
                }
                .imagens-icons-png {
                    width: 41%;
                    background: #FFF;
                    // width: 42%;
                }
            }
        }
    }
}
@media screen and (max-width: 576px) {
    .hobbies {
        .organiza-row-hobbies {
            .image-collapsed-12 {
                width: 19% !important;
            }
            .hobbies .p-panel .p-panel-content {
                padding-top: 15%;
                padding-bottom: 10px;
                margin-top: -10%;
                border-top: solid 1px #dee2e6;
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .hobbies {
        .organiza-row-hobbies {
            .p-divider .p-divider-content {
                background-color: transparent;
                text-align: initial;
            }
            .show-color-images {
            }
            .col-imagens-icons {
                .imagens-icons {
                    width: 24%;
                    // width: 42%;
                }
                .imagens-icons-png {
                    width: 24%;
                    background: #FFF;
                    // width: 42%;
                }
            }
            .artists {
                .avatar-artists {
                    width: calc(80px - 4px);
                    height: calc(58% - 4px);
                    transition: width 0.2s ease, height 0.2s ease; 
                    &:hover {
                        width: calc(19% - 4px);
                        height: calc(76% - 4px);
                    }
                }
                .card-artists {
                    width: 90%;
                    .best-album {
                        .chip-bests-album {
                            font-size: 10px;
                            padding: 0 13px;
                        }
                    }
                    .best-music {
                        .chip-bests-music {
                            font-size: 10px;
                            padding: 0 13px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .hobbies {
        .organiza-row-hobbies {
            .artists {
                .avatar-artists {
                    // width: calc(18% - 4px);
                    // height: calc(72% - 4px);
                    width: calc(105px - 4px);
                    height: calc(107px - 4px);
                    transition: width 0.2s ease, height 0.2s ease; 
                    &:hover {
                        width: calc(110px - 4px);
                        height: calc(112px - 4px);
                    }
                }
                .card-artists {
                    width: 75%;
                    .best-album {
                        .chip-bests-album {
                            font-size: 12px;
                            padding: 0 19px;
                        }
                    }
                    .best-music {
                        .chip-bests-music {
                            font-size: 12px;
                            padding: 0 19px;
                        }
                    }
                }
            }
        }
    }
}