.projects {
    padding-top: 3%;
    .h2-title {
        text-align: center;
        color: #4a4a8d8f;
        letter-spacing: 8px;
        text-transform: uppercase;
    }
    p, h2, span {
        font-family: 'Poppins';
    }
    .div-projects {
        .div-text {
            p {
                font-family: 'Poppins';
                color: #7576b1;
                text-align: justify;
            }
        }
        .col-for-projects {
            h2 {
                text-transform: uppercase;
                color: #69698e;
                font-family: 'Poppins';
                letter-spacing: 4px;
                cursor: pointer;
                transition: text-shadow 0.3s ease;
                &:hover {
                    text-shadow: 1px 20px 4px #4e00ff26;
                }
            }
            .div-screenshot {
                .screenshot {
                    border-radius: 40px;
                    filter: brightness(100%) contrast(79%);
                    cursor: pointer;
                    box-shadow: 16px 20px 0px -13px rgba(255, 255, 255, 0.72), 7px 27px 0px -11px rgb(122, 54, 159);
                    transition: box-shadow 0.3s ease;
                    &:hover {
                        box-shadow: 26px 14px 0px -2px rgba(255, 255, 255, 0.72), -16px 44px 0px -18px rgb(122, 54, 159);
                    }
                }
            }
            .div-details {
                p {
                    letter-spacing: 1px;
                }
                .col-table-ferramentas {
                    .table-ferramentas {
                        th {
                            // width: 16%;
                            font-family: 'Poppins';
                            border-bottom: none;
                            text-transform: uppercase;
                            color: #000;
                            // letter-spacing: 2px;
                        }
                        td {
                            font-family: 'Poppins';
                            border: none;
                            .custom-chip {
                                background: linear-gradient(280deg, #8181ce 0%, #a166b2 100%);
                                font-family: 'Poppins';
                                color: #FFF;
                                padding: 0px 26px;
                                height: 26px;
                                text-transform: uppercase;
                                font-size: .8em;
                                cursor: pointer;
                                transition: margin-top 0.3s ease;
                                &:hover {
                                    margin-top: 4px;
                                }
                            }
                        }
                        .define-width {
                            width: 20%;
                        }
                    }
                }
                .col-icons {
                    a {
                        color: #000;
                        .icon-github {
                            font-size: 2em;
                            cursor: pointer;
                            transition: color 0.3s ease;
                            margin: 0 20px 0 0;
                            &:hover {
                                color: #69698e;
                            }
                        }
                        .icon-globe {
                            font-size: 2em;
                            cursor: pointer;
                            transition: color 0.3s ease;
                            &:hover {
                                color: #69698e;
                            }
                        }
                    }
                }
            }
        }
    }
    ::-moz-selection { /* Code for Firefox */
        color: black;
        background: #d2d2f0;
    }
    
    ::selection {
        color: black;
        background: #d2d2f0;
    }
}
@media screen and (min-width: 1320px) {
    .projects {
        .div-projects {
            .col-for-projects {
                .div-screenshot {
                    .screenshot {
                        box-shadow: 18px 20px 0px -8px rgb(255 255 255 / 72%), 7px 38px 0px -10px rgb(122 54 159);
                        transition: box-shadow 0.3s ease;
                        &:hover {
                            box-shadow: 26px 14px 0px 4px rgba(255, 255, 255, 0.72), -16px 44px 0px -10px rgb(122, 54, 159);
                        }
                    }
                }
            }
        }
    }
}