.topbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    margin: auto;
    top: 3%;
    right: 0;
    left: 0;
    border-radius: 3px;
    padding: 0px 8%;
    z-index: 1;
    .p-dropdown {
        // width: 14rem;
    }
    
    .country-item-value {
        img.flag {
            width: 17px;
        }
    }

    .buttons-menu {
        font-family: monospace;
        color: #FFF;
        text-transform: uppercase;
        font-size: 1.3em;
        font-weight: 100;
        letter-spacing: 5px;
        background: transparent;
        border: 0;
        &:hover {
            background-color: transparent;
            color: #918aec;
        }
        &.focus {
            border: 0
        }
        p-button:focus {
            box-shadow: none;
        }
    }
}